.App {
  padding: 50px 20px;
}

div.search {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

div.search input[type='text'] {
  padding: 10px 0;
  outline: none;
  border-radius: 6px 0 0 6px;
  border: none;
  color: #899591;
  font-size: 15px;
}

div.search input::placeholder {
  color: #899591;
  opacity: 0.5;
  font-size: 13px;
  padding: 0 20px;
}

div.search button {
  border-radius: 0 6px 6px 0;
  background: #15D088;
  color: #FFF;
  border: none;
  outline: none;
  padding: 1px 20px;
}

div.books {
  margin: 50px 0;
  display: flex;
  flex-flow: row wrap;
}