div.search {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

div.search input[type='text'] {
  padding: 10px 20px;
  outline: none;
  border-radius: 10px;
  border: none;
}